{% extends 'base.html' %}

{% block title %} {{apunte.titulo}} {% endblock title %} 
{% block main %} 

{% if request.user.username == apunte.creador.username%}
<section class="d-flex justify-content-end">
    <div class="w-25">
        <p><a href="{% url 'update-apunte' apunte.id %}"><i class="bi bi-pencil-square"></i></a><a href="{% url 'delete-apunte' apunte.id %}"><i class="bi bi-trash"></i></a></p>
    </div>
</section>

{% endif %}

<section class="d-flex justify-content-center">
    <div class='w-50'>
        
        <p><h1>{{apunte.titulo}}</h1></p>
        {% autoescape off %}
        <p>{{apunte.contenido}}</p>
        {% endautoescape off %}
        <p class="text-muted">Autor: @{{apunte.creador.username}}</p>
        <p class="text-muted">Creado: {{apunte.created_date}}</p>
        <p class="text-muted">Última Actualización: {{apunte.last_updated_date}}</p>
        <p class="text-muted">Categorías:</p>
        <p ><a class='btn btn-primary' href="{%url 'apuntes'%}"><i class="bi bi-arrow-left"></i><span class="px-1">Volver</span></a></p>
    </div>
</section>






{% endblock main %} 
